@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent; /* Transparent background for a cleaner look */
}

/* Firefox-only */
.element {
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2); /* Subtle background for contrast */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #006dac,
    #001a3a
  ); /* Neon-like gradient */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #ac0064, #3f0000);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinners in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

.animated-message {
  opacity: 0;
  transform: translateY(20px); /* Starts slightly below */
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
